@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = Resources.Common.PageNotFound;
}

<div id="view-error">
    <div class="content-wrap">
        @Html.Raw(Resources.Common.BackOffice_Error_NotFound)
    </div>
</div>
