@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = Resources.Common.TreePlacementRequired;
}


<div id="view-treeplacement-required">
    <div class="content-wrap">
        @Html.Raw(Resources.Common.BackOffice_Error_TreePlacementRequired)
    </div>
</div>