@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = Resources.Common.UnexpectedError;
}

<div id="view-unexpected-error">
    <div class="content-wrap">
        @Html.Raw(@Resources.Common.BackOffice_Error_UnexpectedError)
    </div>
</div>

