
@{
    ViewBag.Title = Resources.Common.TermsAndConditions;
}

<div class="view-resource-static">
    <div class="content-wrap">
        <div class="container">
            @Html.Raw(Resources.Common.TermsAndConditions_Content)
        </div>
    </div>
</div>
