@{
    ViewBag.Title = Resources.Common.JoinTheAutoOrder;

    var pageHeader = new PageHeader
    {
        PageName = ViewBag.Title,
        DefaultParentLinkSitemapID = "account",
        DefaultBreadcrumbLinkSitemapID = "autoorders"
    };
}

<div id="view-about-autoorder">
    @Html.Partial("~/Views/Shared/Partials/_PageHeader.cshtml", pageHeader)

    <div class="content-wrap">
        <div class="container">
            @Html.Raw(Resources.Common.Replicated_AutoOrder_NoAutoOrderFound.FormatWith(Url.Action("ManageAutoOrder")))
        </div>
    </div>
</div>