<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!--<add name="Api.Sql.ConnectionStrings.SqlReporting" connectionString="server=1124-sql1.vm.epicservers.com;database=VantelReporting;uid=vantel_exigoweb;pwd=nc5CudbzHA646J6J;Encrypt=True;TrustServerCertificate=True;" xdt:Transform="Replace" xdt:Locator="Match(name)" />-->
    <add name="Api.Sql.ConnectionStrings.SqlReporting" connectionString="server=sandbox.bi.exigo.com;database=ExigoDemoReportingSandBox1;uid=syncuser;pwd=HrqwK278;pooling=false;Encrypt=True;TrustServerCertificate=True;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="ReleaseMode" value="release" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Api.UseSandboxGlobally" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Api.SandboxID" value="5" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Company.BaseBackofficeUrl" value="http://vantel-backoffice.azurewebsites.net/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Company.BaseReplicatedUrl" value="http://vantel-replicated.azurewebsites.net/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>
